@using System.Threading.Tasks
@using Roc.CMS.Authorization
@using Abp.Application.Services.Dto
@using Roc.CMS.Content
@using Roc.CMS.Web.Areas.Sys.Models.Common.Modals
@using Roc.CMS.Web.Areas.Sys.Startup
@model CategoryCreateOrEditOutput
@{
    string content_categorys = SysPageNames.Content.Categorys;
    ViewBag.CurrentPageName = content_categorys;
}

@section Scripts{
    <script abp-src="/view-resources/Areas/Sys/Views/_Bundles/category-list.js" asp-append-version="true"></script>
}
<div class="m-subheader ">
    <div class="row align-items-center">
        <div class="mr-auto col-sm-12 col-md-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>@L(content_categorys)</span>
            </h3>
            <span class="m-section__sub">
                @L(SysPageNames.Content.Categorys_HeaderInfo)
            </span>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            @if (IsGranted(AppPermissions.Pages_Contents_Category_Create))
            {
                <button id="CreateNewCategoryBtn" class="btn btn-primary"><i class="fa fa-plus"></i> @L(SysPageNames.Content.Categorys_CreateInfo)</button>
            }
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <div>
                    <div class="row m--margin-bottom-10">
                        <div class="col-xl-6">
                            <label for="txtFilter">@L(SysPageNames.Content.Categorys_FilterByName)</label>
                            <div class="input-group">
                                <input id="txtFilter" class="form-control m-input" type="text" value="" placeholder="@L("SearchWithThreeDot")" aria-describedby="basic-addon2">
                                <span class="input-group-btn">
                                    <button id="btnSearch" class="btn btn-primary" type="submit"><i class="flaticon-search-1" aria-label="@L("Search")"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <label for="ParentId">@L(SysPageNames.Content.Categorys_ParentName)</label>
                            @Html.DropDownList("ParentId", Model.Categories.Select(i => i.ToSelectListItem()),
                           new
                           {
                               @class = "form-control selectpicker",
                               data_live_search = "true"
                           })
                        </div>
                    </div>
                    <div class="row m--margin-bottom-10">
                        <div class="col-xl-12 text-right">
                            <button id="RefreshButton" class="btn btn-primary"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="CategoryTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("Actions")</th>
                            <th>@L(SysPageNames.Content.Categorys_Name)</th>
                            <th>@L(SysPageNames.Content.Categorys_ParentName)</th>
                            <th>@L(SysPageNames.Content.Categorys_URL)</th>
                            <th>@L(SysPageNames.Content.Categorys_Target)</th>
                            <th>@L(SysPageNames.Content.Categorys_IsNav)</th>
                            <th>@L(SysPageNames.Content.Categorys_IsSpecial)</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>